@page "/projects/{id:int}"

<h3>Project Name</h3>

@code {

    [Parameter]
    public int id { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        id = 1;
    }
}

