

<div class="d-flex justify-content-center flex-column p-2 text-light text-center mt-4">
    <img style="width:120px; height:120px" class="img-fluid rounded-circle m-auto" src="@profileImage" />
    <h2 class="fw-normal">Jane Doe</h2>
    <h4 class="fw-light">Front-End Developer</h4>

</div>


<div class="top-row ps-3 navbar navbar-dark">


    <div class="container-fluid">

        <a class="navbar-brand" href="">ClientSide</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about-me">
                <span class="oi oi-list-rich" aria-hidden="true"></span> About
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="experience">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Experience
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Projects
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Contact
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? profileImage { get; set; }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        profileImage = "https:///www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg.jpg?fit=640,427";
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

