@page "/"

@using ClientSide.Models

<PageTitle>Home</PageTitle>



<div class="container">
    <h1>@Greeting</h1>

    <div class="row">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
        </p>
    </div>

    <div class="row">
        <div class="col">
            <NavLink class="btn btn-success" href="experience">
                Experience
            </NavLink>

            <NavLink class="btn btn-success" href="projects">
                Projects
            </NavLink>

            <NavLink class="btn btn-success" href="contact">
                Contact
            </NavLink>

           

        </div>
    </div>
    

</div>


@*<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>*@





@code{

    private string Greeting { get; set; }
    public UserModel user = null;



    protected override void OnInitialized()
    {
        base.OnInitialized();

        user = new UserModel();

        user.FirstName = "Jane";
        user.LastName = "Doe";
        user.JobTitle = "Front-End Developer";

        Greeting = $"Hi, I'm {user.FirstName} {user.LastName}, I am a {user.JobTitle}";
    }

}